[Desktop Entry]
Version=1.0
Name=Starship (git)
Exec=/opt/starship-git/launch.sh
Terminal=false
Icon=starship-git
Type=Application
Categories=Game;
StartupWMClass=Starship
